body {
  margin: 0;
  background-color: rgb(38, 37, 37);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
}

h2 {
  color: gold;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 2px;
  font-size: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline gold;
}

.other-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.other-work img {
  width: 50%;
  padding-top: 4em;
}

.other-work h2 {
  margin-top: 1em;
  margin-bottom: 0ß;
}
