* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(38, 37, 37);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: auto;
}

.social-media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social-media img {
  width: 150px;
  height: auto;
  margin: 30px;
  transition-duration: 0.2s;
}
.social-media img:hover {
  filter: brightness(150%);
  width: 170px;
  margin: 20px;
}
h2,
h2 a {
  color: gold;

  font-size: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline gold;
  text-align: center;
}
h2 a:hover {
  color: rgb(176, 150, 3);
  text-decoration: underline rgb(176, 150, 3);
  transition-duration: 0.2s;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4em;
  width: 100%;
}

.work img {
  width: 95%;
  max-width: 50em;
  padding-top: 4em;
  height: auto;
}

.work h2 {
  margin-top: 1em;
  margin-bottom: 0;
}

nav {
  background: linear-gradient(90deg, #5c05d2, #5c05d2, #0b4cf5);
  width: 100%;
  text-align: left;
  font-size: 3em;
  padding: 2.2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
}

nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: gold;
  transition-duration: 0.2s;
}

.artdoor h2, .artdoor h2 a{

  font-size: 1.25em;
}

.artdoor{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4em;
  width: 17em;
}

 .artdoor a img {
  width: 100%;
  height: auto;
}
.artdoor a{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

 .artdoor a img:hover{
  filter: brightness(60%);
  transition-duration: 0.3s;
}


.artnav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
  justify-content: space-evenly;
  gap: 1em;
}

.navInstruction h2 {
  color: gold;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:2.5em;
  text-decoration: none;
}